* {

    box-sizing: border-box;
    font-family:arial;
}

html, body {

    height:100vh;
    padding:0;
    margin:0;
}

nav {

    width:100%;
    height: 30px;
    background: #d6d6d6;
    border-bottom:1px solid #9b9b9b;
}

main {

    width:100%;
    height: calc(100vh - 30px);
    background:#eee;
    display:flex;
}

#left {

    overflow:auto;
    padding:1em;
}

h2 {

    margin:0 0 1em 0;
}

.replique {

    padding:1em 0;
    border-bottom:1px solid #bfbfbf;
}

.replique p {

    font-weight:bold;
    font-size:0.9em;
    margin:0;
    color: #7a7a7a;
}

#left, #central, #right {

    height:100%;
}

#left, #right {

    width:15%;
    max-width:300px;
}

#central {

    flex:1;
    border-left:1px solid #9b9b9b;
    border-right:1px solid #9b9b9b;
    display:flex;
    flex-direction:column;
}

#scene {

    background:white;
    height:60%;
}

#scene img {

    position:absolute;
}

#canapy {

    left:50%;
    width:250px;
}

#table {

    width:200px;
    left:35%;
    top:20%;
}

#perso1 {

    top:10%;
    left:30%;
    border:1px solid gray;
}

#perso2 {

    top:40%;
    left:55%;
}

#timeline {

    border-top:1px solid #9b9b9b;
    height:60px;
    display:flex;
}

#time {

    width:80%;
    height:100%;
    background: #dceef9;
    border-right:1px solid #9b9b9b;
    display:flex;
    justify-content:space-between;
}

#time span {

    height:60px;
    line-height:60px;
}

#time:after {

    content:" ";
    position:absolute;
    display:block;
    height:60px;
    width:20%;
    background: rgba(97, 214, 133, 0.22);
    border-right:1px solid rgba(97, 214, 133, 1);
}

#time span:nth-child(2):after,
#time span:nth-child(3):after,
#time span:nth-child(4):after,
#time span:nth-child(5):after
{
    content:" ";
    position:absolute;
    margin-top:-60px;
    margin-left:19px;
    width:1px;
    height:60px;
    display:block;
    background:rgba(0,0,0,0.2);
}

#items {

    border-top:1px solid #9b9b9b;
    flex:1;
    display:flex;
    flex-wrap:nowrap;
}

#items .item {

    width:140px;
    height:140px;
    background:rgba(0,0,0,0.2);
    margin:20px 20px 0 0;
}

#items .item p {

    text-align:center;
    margin:0 0 10px 0;
}

#items .item:first-child {

    margin-left:20px;
}

#items .item img {

    width:100px;
    display:block;
    margin:auto;
}

#right {

    display:flex;
    flex-direction:column;
}

#properties {

    border-top:1px solid #9b9b9b;
    background:white;
}

#stuff, #properties {

    height:50%;
}

#properties table {

    border-spacing: 0;
    width:100%;
}

#properties table th {

    background: #e0e0e0;
    height:35px;
    border-bottom:1px solid black;
}

#properties table td {

    border-top:1px solid #b1b1b1;
    height:30px;
    padding:0 0.3em;
}

#properties table td:first-child {

    border-top:1px solid #b1b1b1;
    border-right:1px solid #b1b1b1;
}

#properties table tr:last-child td {

    border-bottom:1px solid #b1b1b1;
}